spring:
  application:
    name: community
  datasource:
    url: jdbc:h2:file:${H2_DB_PATH}/test
    driver-class-name: org.h2.Driver
    username: sa

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init.mode: always

  jpa:
    show-sql: true
    hibernate.ddl-auto: none

logging:
  level:
    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.jdbc.core.StatementCreatorUtils: TRACE

